.listItem {
    border-left: 4px solid #17a051;
    cursor: pointer;
    background: #f4f4f4;
    border: 2px solid #fff;
}

.listItem:hover {
    transform: scale(1.02);
    background: #fff;
}

.listItem > div > div:first-child{
    border-right: 1px solid #ccc;
    margin-right: 1rem;
    padding-left: 1rem;
}

.borderLGreen {
    border-left: 4px solid #17a051;
}

.borderLRed {
    border-left: 4px solid #e06a6a;
}

.chartConatiner .price{
    font-size: 2rem;
}

.lightText {
    color: #999;
}

.cursorPointer {
    cursor: pointer;
}

.bullets span {
    font-size: 16px;
    vertical-align: middle;
}

.bgBlue {
    background: #796dda;
    color: #fff;
}