.App {
  text-align: center;
  min-height: 100vh;
}

.darkDrpShadow{
  box-shadow: 0 0 60px 10px rgba(0,0,0,.2);
}

.lightDrpShadow{
  box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
}

.lightShadow {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

.vAlignBtm {
  vertical-align: bottom !important;
}

input:read-only {
  border: none !important;
}
